03_POLICE_HACKING/Technical_Documents/ANSI-NIST-XML-ITL-Implementation-Biometrics-Metadata/XMLschemas/subset/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:iso_3166="http://niem.gov/niem/iso_3166/2.0" xmlns:iso_639-3="http://niem.gov/niem/iso_639-3/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1">
	<xsd:annotation>
		<xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/fbi/2.0" schemaLocation="../../fbi/2.0/fbi.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/iso_3166/2.0" schemaLocation="../../iso_3166/2.0/iso_3166.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/iso_639-3/2.0" schemaLocation="../../iso_639-3/2.0/iso_639-3.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../proxy/xsd/2.0/xsd.xsd"/>
	<xsd:simpleType name="AngularMinuteSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type for a minute of a degree, with a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:minInclusive>
			<xsd:maxExclusive value="60">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:maxExclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AngularMinuteType">
		<xsd:annotation>
			<xsd:documentation>A data type for a minute of a degree, with a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:AngularMinuteSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AngularSecondSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type for a second of a minute, with a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0">
				<xsd:annotation>
					<xsd:documentation>The minimum value for an angular second.</xsd:documentation>
				</xsd:annotation>
			</xsd:minInclusive>
			<xsd:maxExclusive value="60">
				<xsd:annotation>
					<xsd:documentation>The maximum value for an angular second.</xsd:documentation>
				</xsd:annotation>
			</xsd:maxExclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AngularSecondType">
		<xsd:annotation>
			<xsd:documentation>A data type for a second of a minute, with a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:AngularSecondSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BinaryType">
		<xsd:annotation>
			<xsd:documentation>A data type for a digital representation of an object encoded in a binary format.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:BinaryObject" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:BinaryDescriptionText" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ContactInformationType">
		<xsd:annotation>
			<xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ContactInformationDescriptionText" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a calendar date.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GeographicElevationMeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measure of elevation at a location.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MeasureType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ImageType">
		<xsd:annotation>
			<xsd:documentation>A data type for a picture or visual representation of something.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="BinaryType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:BinaryType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LatitudeCoordinateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement of the angular distance between a point on the Earth and the Equator.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LatitudeDegreeValue" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:LatitudeMinuteValue" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:LatitudeSecondValue" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="LatitudeDegreeSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type for a degree of latitude.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:maxInclusive value="90">
				<xsd:annotation>
					<xsd:documentation>The maximum value for a latitude degree.</xsd:documentation>
				</xsd:annotation>
			</xsd:maxInclusive>
			<xsd:minInclusive value="-90">
				<xsd:annotation>
					<xsd:documentation>The minimum value for a latitude degree.</xsd:documentation>
				</xsd:annotation>
			</xsd:minInclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LatitudeDegreeType">
		<xsd:annotation>
			<xsd:documentation>A data type for a degree of latitude.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:LatitudeDegreeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LocationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a geophysical location.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LocationAddress" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LongitudeCoordinateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement of the angular distance between a point on the Earth and the Prime Meridian.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LongitudeDegreeValue" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:LongitudeMinuteValue" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:LongitudeSecondValue" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="LongitudeDegreeSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type for a degree of longitude.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:maxExclusive value="180">
				<xsd:annotation>
					<xsd:documentation>The maximum value for a longitude degree.</xsd:documentation>
				</xsd:annotation>
			</xsd:maxExclusive>
			<xsd:minInclusive value="-180">
				<xsd:annotation>
					<xsd:documentation>The minimum value for a longitude degree.</xsd:documentation>
				</xsd:annotation>
			</xsd:minInclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LongitudeDegreeType">
		<xsd:annotation>
			<xsd:documentation>A data type for a degree of longitude.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:LongitudeDegreeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MeasurePointValueType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measure point value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:MeasureValue" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="NonNegativeDecimalSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type for a decimal value with a minimum value of 0.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:minInclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="NonNegativeDecimalType">
		<xsd:annotation>
			<xsd:documentation>A data type for a decimal value with a minimum value of 0.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:NonNegativeDecimalSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:OrganizationIdentification" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameTextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ProperNameTextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:ProperNameTextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameType">
		<xsd:annotation>
			<xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonNamePrefixText" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonMaidenName" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:documentation>A data type for a human being.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonBirthLocation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonCitizenship" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProperNameTextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a character string.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="niem-xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TwoDimensionalGeographicCoordinateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a location identified by latitude and longitude.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:GeographicCoordinateLatitude" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:GeographicCoordinateLongitude" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UTMCoordinateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a coordinate from the Universal Transverse Mercator (UTM) Coordinate System, which represents a location with a grid zone, an easting value, and a northing value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:UTMEastingValue" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:UTMGridZoneID" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:UTMNorthingValue" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="BinaryBase64Object" type="niem-xsd:base64Binary" substitutionGroup="nc:BinaryObject" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A binary encoding of data.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="BinaryObject"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryDescriptionText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A description of a binary object.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryObject" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A binary encoding of data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactInformationDescriptionText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A description of the methods available to contact a person or organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A full date.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A representation of a date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateTime" type="niem-xsd:dateTime" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A full date and time.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeographicCoordinateLatitude" type="nc:LatitudeCoordinateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measurement of the angular distance between a point on the Earth and the Equator.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeographicCoordinateLongitude" type="nc:LongitudeCoordinateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measurement of the angular distance between a point on the Earth and the Prime Meridian.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that identifies something.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LatitudeDegreeValue" type="nc:LatitudeDegreeType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that specifies the degree of a latitude. The value comes from a restricted range between -90 (inclusive) and +90 (inclusive).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LatitudeMinuteValue" type="nc:AngularMinuteType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that specifies a minute of a degree. The value comes from a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LatitudeSecondValue" type="nc:AngularSecondType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that specifies a second of a minute. The value comes from a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationDescriptionText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A description of a location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationGeographicElevation" type="nc:GeographicElevationMeasureType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measure of the distance of a point on the Earth from sea level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationTwoDimensionalGeographicCoordinate" type="nc:TwoDimensionalGeographicCoordinateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A location identified by a latitude and longitude.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationUTMCoordinate" type="nc:UTMCoordinateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A coordinate from the Universal Transverse Mercator (UTM) Coordinate System, which represents a location with a grid zone, an easting value, and a northing value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LongitudeDegreeValue" type="nc:LongitudeDegreeType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that specifies the degree of a longitude. The value comes from a restricted range between -180 (inclusive) and +180 (exclusive).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LongitudeMinuteValue" type="nc:AngularMinuteType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that specifies a minute of a degree. The value comes from a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LongitudeSecondValue" type="nc:AngularSecondType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that specifies a second of a minute. The value comes from a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasurePointValue" type="nc:MeasurePointValueType" substitutionGroup="nc:MeasureValue" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A specific measurement value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureValue"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureValue" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A measurement value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identification that references an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationName" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A name of an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationPrimaryContactInformation" type="nc:ContactInformationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A preferred means of contacting an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A date a person was born.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonEthnicity" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A cultural lineage of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonEthnicityText" type="nc:TextType" substitutionGroup="nc:PersonEthnicity" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A cultural lineage of a person.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="PersonEthnicity"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A first name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A last name or family name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UTMEastingValue" type="niem-xsd:nonNegativeInteger" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A distance east within a UTM zone.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UTMGridZoneID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identifier of a UTM grid zone.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UTMNorthingValue" type="niem-xsd:nonNegativeInteger" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A distance north within a UTM zone.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A remark, explanation, or observation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- elements added for INT-I implementation, on top of ITL 2015 -->

  <xsd:element name="AddressDeliveryPoint" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:AddressRepresentation" name="AddressFullText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="AddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location described by postal information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ContactMeans" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A means of contacting someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:ContactMeans" name="ContactTelephoneNumber" type="nc:TelephoneNumberType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number for a telecommunication device by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="DateRangeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a period of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StartDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:EndDate" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="EndDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An end date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ExpirationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date after which information is no longer valid.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:TelephoneNumberRepresentation" name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TelephoneNumberRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FullTelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a full telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:TelephoneSuffixID" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LocationAddress" type="nc:AddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geophysical location described by postal information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a city or town.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCountry" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:LocationCountry" name="LocationCountryISO3166Alpha3Code" type="iso_3166:CountryAlpha3CodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationCountry"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCounty" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:LocationCounty" name="LocationCountyName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationCounty"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a post office-assigned zone for an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationState" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:LocationState" name="LocationStateName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:AddressDeliveryPoint" name="LocationStreet" type="nc:StreetType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A road, thoroughfare or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonBirthLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A location where a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonCitizenship" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A county that assigns rights, duties, and privileges to a person because of the birth or naturalization of the person in that country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:PersonCitizenship" name="PersonCitizenshipISO3166Alpha3Code" type="iso_3166:CountryAlpha3CodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A county that assigns rights, duties, and privileges to a person because of the birth or naturalization of the person in that country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonCitizenship"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMaidenName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An original surname of a person before changed by marriage.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A middle name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNamePrefixText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A title or honorific used by a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNameSuffixText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A term appended after the family name that qualifies the name.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StartDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date on which something begins.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetNumberText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number that identifies a particular unit or location within a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="StreetType">
    <xsd:annotation>
      <xsd:documentation>A data type for a road, thoroughfare, or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StreetNumberText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:StreetName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element substitutionGroup="nc:AddressRepresentation" name="StructuredAddress" type="nc:StructuredAddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="StructuredAddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for an address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCounty" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCountry" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TelephoneNumberFullID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="TelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a telephone number for a telecommunication device.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TelephoneSuffixID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional numbers to be entered after a call connects to be directed to the appropriate place.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
